.push-right {
  float: right;
}
.depth-1 {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}
.depth-1-dark {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
}
.header-mobile .q-action-wrapper {
  background: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  position: relative;
}
.header-mobile .q-action-wrapper .q-action > div {
  padding: 10px 0;
}
.header-mobile .q-action-wrapper .q-action a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-align: center;
  color: #689f38;
}
.header-mobile .q-action-wrapper .q-action a:hover {
  text-decoration: none;
  color: #689f38;
}
.header-mobile .q-action-wrapper .q-action a i {
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
}
.header-mobile .q-action-wrapper .q-action a span {
  display: block;
  font-size: 12px;
  color: #000000;
}
.header-mobile .q-action-wrapper .q-action.middle {
  border: 1px solid #689f38;
  border-top: none;
  border-bottom: none;
}
.header-mobile .nav-bar {
  padding: 10px 0;
  z-index: 2;
  position: relative;
  background: #ffffff;
}
.header-mobile .icon-menu {
  font-size: 36px;
  color: #689f38;
  position: relative;
  top: 1px;
}
.header-mobile .icon-menu span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  top: -5px;
  position: relative;
}
.header-mobile .icon-menu.reversed {
  color: #ffffff;
  background: #689f38;
  padding: 12px 48px 15px 36px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-left: -15px;
}
@media only screen and (max-width: 767px) {
  .header-mobile .icon-menu.reversed {
    padding: 12px 12px 15px 12px;
  }
}
.header-mobile .icon-menu.reversed:hover {
  background: #33691e;
}
.header-mobile .mobile-go-home {
  display: block;
  float: right;
}
.header-mobile #mobile-header-logo {
  width: 110px;
  max-width: 110px;
}
.header-mobile.tablet {
  background: #ffffff;
  z-index: 2;
  position: relative;
}
.header-mobile.tablet .login-btn {
  float: right;
  background: #689f38;
  padding: 5px 10px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  top: 5px;
  position: relative;
}
.header-mobile.tablet .login-btn:hover {
  text-decoration: none;
  background: #33691e;
}
.header-mobile.tablet .login-btn i {
  font-size: 18px;
}
.header-mobile.tablet .login-btn span {
  margin-left: 10px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mobile-menu-toggle {
  background: #e8e8e8;
  min-height: 100vh;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  left: -100%;
  position: absolute;
  z-index: 2;
  top: 0;
}
.mobile-menu-toggle .menu-wrapper ul {
  padding: 15px 0;
  margin: 0;
}
.mobile-menu-toggle .menu-wrapper ul li {
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
  overflow: hidden;
}
.mobile-menu-toggle .menu-wrapper ul li:after {
  font-family: 'Material-Icons';
  content: '\e7c3';
  color: #ffffff;
  position: absolute;
  right: -25px;
  top: 10px;
  font-size: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.mobile-menu-toggle .menu-wrapper ul li:hover:after {
  right: 10px;
}
.mobile-menu-toggle .menu-wrapper ul li a {
  color: #000000;
  display: block;
  padding: 15px 0 15px 25px;
  font-size: 13px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.mobile-menu-toggle .menu-wrapper ul li a:hover,
.mobile-menu-toggle .menu-wrapper ul li a:active {
  background: #689f38;
  color: #ffffff;
  text-decoration: none;
}
.mobile-menu-toggle .q-bar {
  padding: 15px 0;
  background: #689f38;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.mobile-menu-toggle .q-bar:hover,
.mobile-menu-toggle .q-bar:active {
  background: #33691e;
}
.mobile-menu-toggle .q-bar i {
  font-size: 26px;
  color: #ffffff;
  margin: 0 10px 0 0;
  position: relative;
  top: 4px;
}
.mobile-menu-toggle .q-bar a {
  color: #ffffff;
  display: block;
  position: relative;
  font-size: 18px;
}
.mobile-menu-toggle .q-bar a:hover,
.mobile-menu-toggle .q-bar a:active,
.mobile-menu-toggle .q-bar a:focus {
  text-decoration: none;
  border: none;
}
.mobile-menu-toggle .close-menu {
  padding: 15px 0;
  text-align: center;
  background: #ffffff;
  right: 0;
  position: absolute;
  height: 100%;
}
.mobile-menu-toggle .close-menu i {
  font-size: 32px;
  color: #689f38;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  position: relative;
  top: -2px;
}
.mobile-menu-toggle .close-menu:hover i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  font-weight: 900;
  font-size: 36px;
  color: #33691e;
}
.mobile-menu-toggle .toggle-header {
  background: #689f38;
  position: relative;
}
#searchform input {
  background: #ffffff;
  width: 75%;
  font-size: 12px;
  padding: 7px 7px;
  border: none;
}
#searchform.tablet {
  margin-top: 5px;
}
#searchform.tablet input {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 15px;
}
#searchform.tablet i {
  font-size: 20px;
  top: 5px;
  display: inline-block;
  position: relative;
}
