@black:#000000;
@white:#FFFFFF;
@grey:#e8e8e8;
@main_color:#ff6600;
@main_color_hover:#e35b00;


@xs-min: 767px;

@sm-min: 768px;
@sm-max: 991px;

@md-min: 992px;
@md-max: 1199px;

@lg-min: 1200px;

@phone:          ~"only screen and (max-width: @{xs-min})"; // phones
@tablet:         ~"only screen and (min-width: @{sm-min}) and (max-width:@{sm-max})";  // smal tablets  7" // ipad portrait
@tablet_2:        ~"only screen and (min-width: @{md-min}) and (max-width:@{md-max})";  // big tablets // ipad landscape
@large:          ~"only screen and (min-width: @{lg-min})"; // computers

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}
.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.depth-1{
  .box-shadow(0 1px 6px rgba(0, 0, 0, 0.12));
}
.depth-1-dark{
  .box-shadow(0 1px 6px rgba(0, 0, 0, 0.24));
}



.header-mobile{
  .q-action-wrapper{
    background: #f4f4f4;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid @main_color;
    .q-action{
      > div{
        padding: 10px 0;
      }
      a{
        .transition(all .2s ease);
        text-align: center;
        color: @main_color;
        &:hover{
          text-decoration: none;
          color:@main_color;
        }
        i{
          display: block;
          font-size: 36px;
          margin-bottom: 10px;
        }
        span{
          display: block;
          font-size: 12px;
          color: @black;
        }
      }

      &.middle{
        border: 1px solid @main_color;
        border-top: none;
        border-bottom: none;
      }
    }
  }

//  .depth-1;
  .nav-bar{
    padding: 10px 0;
    z-index: 2;
    position: relative;
    background: @white;
  }


  #searchform{
    input{
      background: @white;
      width: 75%;
      font-size: 12px;
      padding: 3px 7px;
    }
  }


  .mobile-menu-toggle{
    .menu-wrapper{
//      background: #ff0000;
      ul{
        padding: 15px 0;
        margin: 0;
        li{
          text-transform: uppercase;
          list-style: none;
          a{
            color: @black;
            display: block;
            padding: 15px 0 15px 25px;
            font-size: 13px;
            &:hover, &:active {
              background: @main_color;
              color: @white;
              text-decoration: none;
            }
          }
        }
      }
    }

    background: @grey;
    height: 100vh;
    .depth-1-dark;
    left:-100%;
    position: absolute;
    z-index: 2;
    top:0;
    //    .row{
    //      background: @grey;
    //    }
    .phone-contact{
      padding: 15px 0;
      background: @main_color;
      color: @white;
      font-size: 16px;
      text-align: center;
      .icon-ico_phone{
        font-size: 22px;
        margin: 0 10px;
      }
    }
    .close-menu{
      padding: 15px 0;
      text-align: center;
      background: @white;
      i{
        font-size: 22px;
        color: @main_color;
      }
    }
  }









  .icon-menu{
    font-size: 36px;
    color:@main_color;
    position: relative;
    top: 3px;
    span{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 30px;
      top: -5px;
      position: relative;
    }
  }
  .mobile-go-home{
    display: block;
    float: right;
  }
  #mobile-header-logo{
    width: 110px;
    max-width: 110px;
  }




  &.tablet{
    background: @white;
    z-index: 2;
    position: relative;

    .login-btn{
      background: @main_color;
      padding: 3px 10px;
      color: @white;
      .transition(all 0.3s ease);
      top: 3px;
      position: relative;
      &:hover{
        text-decoration: none;
        background: @main_color_hover;
      }
    }
  }
}
